{% extends "layout.html" %}
{% block content %}

{% from "_marco.html" import render_field %}
<form action="/login" enctype="multipart/form-data" method="POST" id="contactForm" style="padding-top: -3vmin" novalidate>
    <div class="container">
      <h2 class="text-white" >Ingresar </h2>
      {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <h2 style="color: red">{{message}}</h2>
                {% endfor %}
            {% endif %}
        {% endwith %}
      <div class="control-group">
        <div class="form-group floating-label-form-group controls">
          {{ render_field(user.email, class="form-control" , placeholder="Email" ) }}
          <p class="help-block text-danger"></p>
        </div>
        <div class="form-group floating-label-form-group controls">
          {{ render_field(user.password, class="form-control" , placeholder="Contraseña", type="password" ) }}
          <p class="help-block text-danger"></p>
        </div>
      <br>
      <div id="success"></div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" id="sendMessageButton">Entrar</button>
      </div>
    </div>
</form>
{% endblock %}